# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo

# Node / Next.js
node_modules/
.next/
out/
*.tsbuildinfo
next-env.d.ts

# Logs
*.log
npm-debug.log*

# Lokale Umgebung
.env
.env.local

# Vercel
.vercel/
